* {
  transition: all 0.5s ease;
}
html {
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  min-height: 100%;
  background-color: white;
}
._container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

/* ===== Header ===== */
.header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: start;
  height: 80px;
  border-bottom: 1px solid #bdbdbd;
}
.header > * {
  flex: 0 0 auto;
  margin: 5px;
}
.header__navigation_list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  padding-right: 40px;
}
.header__navigation_list > li {
  flex: 0 0 auto;
  margin: 30px;
}
.header__navigation_list * {
  text-transform: uppercase;
  text-decoration: none;
}
.header__navigation_list *:hover a {
  color: #18b5dc;
}
.header__button {
  padding: 10px 20px;
  background-color: white;
  width: 130px;
  height: 42px;
  border: 1px solid #3c3c3c;
  text-transform: uppercase;
}
.header__button:hover {
  background-color: #18b5dc;
  color: white;
  border-color: #18b5dc;
  cursor: pointer;
}

/* ===== Main ===== */
.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #f6f6f6;
}
.main > * {
  flex: 0 0 auto;
  margin: 5px;
}
.main__text {
  width: 1170px;
  text-align: center;
}
.main__text > h1 {
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  margin-top: 150px;
}
.main__text > hr {
  background-color: #dddbdb;
  width: 45px;
  height: 4px;
  color: #dddbdb;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.main__text > p {
  width: 570px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 24px;
  color: #3c3c3c;
}

/* ================В кдассе main используем смену цвета svg================= */
.main__cards_list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  padding-right: 40px;
}

.main__cards_list > li {
  flex: 0 0 auto;
  margin: 5px;
}

.main__cards_list-person {
  margin: 15px;
  position: relative;
}

.person__photo {
  margin-bottom: 20px;
}

.person__name {
  text-align: start;
  font-size: 18px;
  font-weight: 700;
  color: #282528;
}

.person__position {
  color: #646464;
  text-align: start;
  font-size: 18px;
  font-weight: 300;
}

.person__cell {
  position: relative;
  width: 270px;
  height: 270px;
  margin-bottom: 20px;
}

.person__cell_photo {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ================Верхние изображения================= */
#JohnHandson {
  background-image: url("/img/john.png");
}
#AlexCutter {
  background-image: url("/img/alex.png");
}
#ElenaSimpson {
  background-image: url("/img/elena.png");
}
#LilyAllen {
  background-image: url("/img/lily.png");
}

.person__cell_social {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background: #18b5dc;
  justify-content: center;
  align-items: center;
}

.person__cell_social_icon {
  display: block;
  height: 22px;
  width: 22px;
  background-color: #5dcbe6;
  padding: 12px;
  margin: 4px;
}

.person__cell_social path {
  fill: white;
}

.main__cards_list-person:hover .person__cell_photo {
  transition: all 0.7s ease;
  opacity: 0%;
  visibility: hidden;
  /* display: none;  - не позволяет снизить прозрачность медленно, не подходит*/
}

.person__cell_social_icon:hover,
.person__cell_social_icon > svg:hover {
  background-color: white;
  cursor: pointer;
}

.person__cell_social_icon:hover path {
  fill: #18b5dc;
}

/* ===== Footer ===== */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer > * {
  flex: 0 0 auto;
  margin: 5px;
}
.footer__logo {
  margin-top: 40px;
}
.footer__navigation_list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  padding-right: 40px;
  height: 22px;
  margin-top: 28px;
}
.footer__navigation_list > li {
  flex: 0 0 auto;
  margin: 30px;
}
.footer__navigation_list * {
  text-transform: uppercase;
  text-decoration: none;
}
.footer__navigation_list *:hover a {
  color: #18b5dc;
}

/* ================В классе footer используем svg как background================ */
.footer__social_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  list-style: none;
  padding-right: 40px;
  height: 43px;
  margin-top: 28px;
}
.footer__social_list > li {
  flex: 0 0 auto;
  margin: 5px;
}
.footer__social_list * {
  text-decoration: none;
}
.footer__social_list_twitter {
  width: 43px;
  height: 42px;
  background-image: url("/img/twitterblue.svg");
}
.footer__social_list_twitter:hover {
  background-image: url("/img/twitterwhite.svg");
  cursor: pointer;
}
.footer__social_list_facebook {
  width: 43px;
  height: 42px;
  background-image: url("/img/facebookblue.svg");
}
.footer__social_list_facebook:hover {
  background-image: url("/img/facebookwhite.svg");
  cursor: pointer;
}
.footer__social_list_instagram {
  width: 43px;
  height: 42px;
  background-image: url("/img/instagramblue.svg");
}
.footer__social_list_instagram:hover {
  background-image: url("/img/instagramwhite.svg");
  cursor: pointer;
}
.footer__social_list_linkedin {
  width: 43px;
  height: 42px;
  background-image: url("/img/linkedinblue.svg");
}
.footer__social_list_linkedin:hover {
  background-image: url("/img/linkedinwhite.svg");
  cursor: pointer;
}
.footer__social_list_telegram {
  width: 43px;
  height: 42px;
  background-image: url("/img/instagramblue.svg");
}
.footer__social_list_telegram:hover {
  background-image: url("/img/instagramwhite.svg");
  cursor: pointer;
}
